/* -------------- LANDING --------------*/

/* NAV*/
.nav {

    margin: 0;
    padding-right:;
    overflow: hidden;
    color: black
}

.h1 {
    color: white;
    font-size: 24px;
    text-decoration-line: none;
    background-color: grey;

}

/*BODY*/
body {
    background-image: url("../images/landingphoto.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px;
    background-size: cover;
}

.my-title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding-top: 300px;
  left: 400px;
  right: 400px;
  color: white;
  text-align: center;
  font-size: 80px;

  }

/*------------------ABOUT US------------------*/
/* NAV*/
.nav {

    margin: 0;
    padding-right:;
    overflow: hidden;
    color: black
}

.h1 {
    color: white;
    font-size: 24px;
    text-decoration-line: none;
    background-color: grey;

}

/*BODY*/

.container-fluid about-body {
  background-color: black
}
  .col-sm-12 {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}
