body {
    background-color: black;
    border-style: solid;
    border-width: 5px;
    color: red
}

head {
  background-color: black;
  border-style: solid;
  border-width: 5px;
  color: red
}
/* -------------- NAV --------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white

}

ul{
    float: left;
}

ul {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*------------BODY ----------------*/
body  {
    background-image: url("../images/landingphoto.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
