/* -------------- LANDING --------------*/

/* NAV*/
.nav {

    margin: 0;
    overflow: hidden;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.nav a{
  padding-right: 30px;
}


.h1 {
    color: white;
    font-size: 24px;
    text-decoration-line: none;
    background-color: grey;

}

/*a:hover {
    color: hotpink;
}*/

a:link, a:visited {
  color: grey;
  text-decoration: none;
  font-size:24px;
}

a:hover {
  color: white;
}


/*BODY*/
body {
    background-color: #1D1918;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px;
    background-size: cover;
}

.landing-background{
  background-image: url("../images/landingphoto.jpg");
}

.my-title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding-top: 230px;
  left: 400px;
  right: 400px;
  color: white;
  text-align: center;
  font-size: 100px;
  font-family: "Impact", Helvetica, serif;

  }

/*------------------ABOUT US------------------*/

/*BODY*/

.about-header {
  color:white;
  font-size: 75px;
  text-align: center;
  padding-top: 25px

}
.about-body {
  position: absolute;
  right: 300px;
  width: 300px;
  padding: 10px;
  color: white;
  text-align: center;
}
